#
# ASUS EC driver configuration
#

config INPUT_ASUSEC
        bool "ASUS embedded controller interface"
        depends on I2C

config HID_ASUS_PAD_EC
        bool "ASUS PAD EC driver"
        depends on I2C
